<p>商品編集</p>
<table>
  <%= form_with model: @item, url:admin_item_path(@item.id) do |f| %>
    <tr>
      <td>
        <p>商品画像</p>
      </td>
      <td>
        <%= f.file_field :image, accept: "image/*" %>
      </td>
    </tr>
    <tr>
      <td>
        <p>商品名</p>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <p>商品説明</p>
      </td>
      <td>
        <%= f.text_field :introduction %>
      </td>
    </tr>
    <tr>
      <td>
        <p>税抜価格</p>
      </td>
      <td>
        <%= f.text_field :price %>
      </td>
    </tr>
    <tr>
      <td>
        <p>販売ステータス</p>
      </td>
      <td>
        <%= f.radio_button :is_sold_out, false %>
        <%= f.label :is_sold_out, "販売中" %>
        <%= f.radio_button :is_sold_out, true %>
        <%= f.label :is_sold_out, "販売停止中" %>
      </td>
    </tr>
    <br>
    <%= f.submit '変更を保存' %>
  <% end %>
</table>