<div class="container">
  <div class="row mt-3">
    <h2 class="bg-light p-3 ">商品一覧</h2>
    <div class="col-10">
      <div class="d-flex justify-content-end">
        <%= link_to "+", new_admin_item_path , class: 'btn btn-white shadow rounded-circle p-0" style="width:2rem;height:2rem;'%>
      </div>
    </div>
  </div>
  <table class="table mt-3 table-borderless">
    <thead class="thead-light text-dark">
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ステータス</th>
    </thead>
    
    <% @items.each do |f| %>
      <tr>
        <td>
          <span><%= f.id %></span>
        </td>
        <td>
          <%= link_to admin_item_path(f) do %>
            <span class="text-dark"><%= f.name %></span>
          <% end %>
        </td>
        <td>
          <span><%= f.price.to_s(:delimited) %></span>
        </td>
      
        <% if f.is_sold_out == false %>
          <td>
            <p class="text-success font-weight-bold">販売中</p>
          </td>
        <% else %>
          <td>
            <p class="text-secondary font-weight-bold">販売停止中</p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="pagination justify-content-center mb-2">
  <%= paginate @items %>
</div>