<p>cart_index</p>
<% @cart_item.each do |f| %>
  <%= image_tag f.item.image, size: "50x50" %>
  <%= f.item.name %>
  <%= (f.item.price * 1.1).floor.to_s(:delimited) %>
  <%= f.amount %>
  小計<%= ((f.item.price * 1.1).floor * f.amount).to_s(:delimited) %>
  合計金額<%= @total_price += (f.item.price * 1.1).floor * f.amount %>
<% end %>